html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

textarea {
  font: 18px/1.4 monospace;
  min-height: 33vh;
}

button:nth-of-type(1):after {
  display: absolute;
  content: "p";
}

button:nth-of-type(2):after {
  display: absolute;
  content: "p";
}

button:nth-of-type(3):after {
  display: absolute;
  content: "p";
}

button:nth-of-type(4):after {
  display: absolute;
  content: "end";
}
